python-dotenv
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-classic
langchain-google-genai
google-api-core
langchain-unstructured
unstructured[pdf]
unstructured_inference
python-magic-bin
onnx
onnxruntime